@media screen and (max-width : 1280px) {
    .logo {
        left: 5rem;
    }

    .words {
        padding-left: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    .btn-cover{
        width: 35vw;
    }
}

@media screen and (max-width: 768px) {
    .btn-cover{
        width: 50vw;
    }
}

@media screen and (max-width:  576px) {
    .btn-cover{
        width: 60vw;
    }
}

@media screen and (max-width:  425px) {
    .btn-cover{
        width: 80vw;
    }
}

@media screen and (max-width:  320px) {
    .btn-cover{
        width: 90vw;
    }
}

@media screen and (max-width : 985px) {
    body {
        padding-bottom: 3rem;
    }

    .container {
        flex-direction: column-reverse;
    }

    .logo {
        top: 2rem;
    }

    .words {
        margin-top: unset;
        width: 100vw;
        padding-left: 0;
    }

    .pink-h1 {
        margin-top: 5rem;
    }

    h1 {
        text-align: center;
    }

    p {
        width: 50vw;
        text-align: center;
        margin: 2rem auto 0 auto;
    }

    .btn-cover {
        margin: 2.5rem auto 0 auto;
    }

    .pic {
        margin-top: 7rem;
        width: 100vw;
    }

}

@media screen and (max-width : 483px) {
    h1 {
        font-size: 2.8rem;
    }

    p {
        width: 80vw;
    }

    .btn-clicker {
        width: 4rem;
    }
}

@media screen and (max-width : 425px) {
    .logo {
        left: 3rem;
    }

    .logo-img {
        width: 7rem;
        height: 2.2rem;
    }

    .pic {
        height: 70vh;
    }
}

@media screen and (max-width : 375px) {
    h1 {
        line-height: 3.7rem;
    }
}